<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="f:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
